//////////////////////////////////////////////////////////////////////
//
// Core app-specific theme variables

$base-color: #00928F;
$active-color: #40E0D0;

// Options: ‘matte’, ‘bevel’, ‘glossy’, ‘recessed’, and ‘flat’.
$base-gradient: 'glossy';

//////////////////////////////////////////////////////////////////////
//
// Sencha Touch 2 module import and includes

@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
// @include sencha-sheet;
// @include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
// @include sencha-toolbar-forms;
// @include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
// @include sencha-carousel;
// @include sencha-form;
@include sencha-msgbox;

//////////////////////////////////////////////////////////////////////
//
// Icons
//

$include-default-icons: false;

@include pictos-iconmask(chat_black1);
@include pictos-iconmask(help_black);
@include pictos-iconmask(layout);
@include pictos-iconmask(list);
@include pictos-iconmask(refresh);
@include pictos-iconmask(resize);
@include pictos-iconmask(twitter2);

//////////////////////////////////////////////////////////////////////
//
// Loading spinner
//

$loading-spinner-color: $base-color;
@include sencha-loading-spinner();

//////////////////////////////////////////////////////////////////////
//
// App-specific styles
//

//////////
//
// Tweet
//
.tweet-wrapper {
	.tweet-user {
		font-weight: bold;
		font-size: x-large;
		color: $base-color;
		// padding-bottom: 3px;
	}
	img {
		float: left;
		border-radius: 5px;
		box-shadow: 4px 4px 2px #888888;
	}
	.tweet {
		margin-left: 60px;
		min-height: 50px;
	}
	.tweet-text {
		font-size: large;
	}
	.tweet-aside {
		float: right;
		color: #888888;
	}
}
