$base-color: #00928F;
$active-color: #40E0D0;

// Options: ‘matte’, ‘bevel’, ‘glossy’, ‘recessed’, and ‘flat’.
$base-gradient: 'glossy';


@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
// @include sencha-sheet;
// @include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
// @include sencha-toolbar-forms;
// @include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
// @include sencha-carousel;
// @include sencha-form;
@include sencha-msgbox;

// Icons
$include-default-icons: false;

@include pictos-iconmask(chat_black1);
@include pictos-iconmask(help_black);
@include pictos-iconmask(layout);
@include pictos-iconmask(list);
@include pictos-iconmask(refresh);
@include pictos-iconmask(resize);
@include pictos-iconmask(twitter2);
